<head>
  <link rel="stylesheet" href="/css/header.css">
</head>

<footer class="bg-dark">
	<span class="helper"></span>
  	TeamMatcher © {{year}} 
  	<a href="https://twitter.com/pulga1094" target="_blank">
	  	<img src="/icons/twitter.ico"> 
  	</a>
  	<a href="https://www.instagram.com/pulga1094/" target="_blank">
  		<img src="/icons/instagram.ico">
  	</a>
</footer>
