<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->

  <link rel="stylesheet" href="/css/header.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">TeamMatcher</a>
</nav>