

footer {

	color: #FFFFFF;
	text-align: center;
	height: 40px;

}

footer img {

	height: 20px;
	width: 20px;
	vertical-align: middle;
	margin-right: 5px;
	
}

.helper {

    display: inline-block;
    height: 100%;
    vertical-align: middle;

}