@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
	margin: 0;
}

textarea {

	width: 100%;
	height: 150px;
	border-radius: 15px;

}

select {

	height: 100%;

}

div#mainContainer {
	margin: 40px auto;
	justify-content: center;
	max-width: 80%;
}

.flex-row {

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 36px;
  margin-bottom: 40px; 

}

.flex-column {

  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 0 1 auto;

}

.overflow-x {

	overflow-x: auto; 
	flex-wrap: nowrap; 
	white-space: nowrap;

}

input { 

  border:0;
  border-bottom:1px solid #343a40;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#343A40;

}

input:focus{ 

 border:none;	
 outline:none;
 border-bottom: 1px solid #6ACFF7;

}

/* https://stackoverflow.com/questions/11497094/remove-border-from-buttons */
button {

	padding: 0;
	border: none;
	background: none;
	height: 100%;
	width: 100%;
	font-weight: 600;
  line-height: 38px;
	border-radius: 20px;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;

	display: inline-block;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	text-align: center;
	cursor: pointer;

}

.dark-btn {

	background-color: #343A40;
	color: #FFFFFF;

}

.white-btn {

	background-color: #C2C2C2;
	color: #000000;

}

.aqua-btn {

	background-color: #6EB5C5;
	color: #FFFFFF;

}

#playerInputRow > .flex-column:first-child, 
#playerInputRow > .flex-column:last-child{
	flex-basis: 30%;
	min-width: 30%;
}

#levelContainerRow.flex-row {
	flex-wrap: nowrap;
}

#levelContainerRow > .flex-column {
	flex-basis: 25%;
	max-width: 310px;
	min-width: 135px;
	flex-shrink: 0;
}

#sortBtnRow > .flex-column{
	flex-grow: 1;
}

#sortedTeamsRow {
	display: none;
}

#sortedTeamsRow > .flex-column {
	flex-basis: 25%;
	max-width: 310px;
	min-width: 135px;
	flex-shrink: 0;
}

#copyTeamsRow {
	display: none;
}
#copyTeamsRow > .flex-column,
#supportRow > .flex-column {
	flex-grow: 1;
}

#supportRow {
	font-weight: 700;
	color: #A3ADB5;
	font-style: italic;
	text-align: center;
	font-size: 14px;
}